<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.TC_001RegisterTest"/>
      <class name="tests.TC_002InvalidRegisterData"/>
      <class name="tests.TC_003ValidateValidLoginData"/>
      <class name="tests.TC_004ValidateInvalidLoginData"/>
      <class name="tests.TC_005SearchHoteltest"/>
      <class name="tests.TC_006SelectHotelstest"/>
      <class name="tests.TC_007ValidateSearchHotel"/>
      <class name="tests.TC_008ChangePasswordTest"/>
      <class name="tests.TC_009ValidateBookAHotel"/>
      <class name="tests.TC_010BookedItinerarytest"/>
      <class name="tests.TC_011HomeContentTest"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
